.ipynb_checkpoints/
.DS_Store
.vscode/

egg-info/
*.egg-info/
*.egg/
*.egg-info/
*.egg-info/

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz

*.pth
*.h5
*.ckpt
*.npz
*.err
*.out
lightning_runs/
wandb/
lightning_logs/

experiments/
evaluation_results/